# Overview

Add a brief description of this tutorial here.

In [ ]:
%%capture

# Installing the required libraries:
!pip install matplotlib pandas scikit-learn tensorflow pyarrow tqdm
!pip install google-cloud-bigquery google-cloud-bigquery-storage
!pip install flake8 pycodestyle pycodestyle_magic

In [ ]:
# Python Builtin Libraries
import datetime
import json

# Third Party Libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf
from google.cloud import bigquery
from sklearn import metrics, preprocessing

# Configurations
%matplotlib inline

### Authentication
In order to run this tutorial successfully, we need to be authenticated first. 

Depending on where we are running this notebook, the authentication steps may vary:

| Runner      | Authentiction Steps |
| ----------- | ----------- |
| Local Computer      |  Use a service account, or run the following command: <br><br>`gcloud auth login`    |
| Colab   | Run the following python code and follow the instructions: <br><br>`from google.colab import auth` <br> `auth.authenticate_user()     `    |
| Vertext AI (Workbench)   | Authentication is provided by Workbench       |

In [ ]:
try:
    from google.colab import auth

    print("Authenticating in Colab")
    auth.authenticate_user()
    print("Authenticated")
except:  # noqa
    print("This notebook is not running on Colab.")
    print("Please make sure to follow the authentication steps.")

Authenticating in Colab
Authenticated

### Configurations

Let's make sure we enter the name of our GCP project in the next cell.

In [ ]:
# ENTER THE GCP PROJECT HERE
gcp_project = "YOUR-GCP-PROJECT" # Use gcp-public-data-contributors
print(f"gcp_project is set to {gcp_project}")

gcp_project is set to gcp-public-data-contributors

In [ ]:
def helper_function():
    """
    Add a description about what this function does.
    """
    return None

## Data Preparation

### Query the Data

In [ ]:
query = """
  SELECT
    created_date, category, complaint_type, neighborhood, latitude, longitude
  FROM 
    `bigquery-public-data.san_francisco_311.311_service_requests`
  LIMIT 1000
"""

In [ ]:
bqclient = bigquery.Client(project=gcp_project)
dataframe = bqclient.query(query).result().to_dataframe()

### Check the Dataframe

In [ ]:
print(dataframe.shape)
dataframe.head()

(1000, 6)

               created_date           category  ...   latitude   longitude
0 2011-11-03 01:02:22+00:00     Street Defects  ...  37.757347 -122.446182
1 2020-08-31 08:04:00+00:00       Sewer Issues  ...  37.787070 -122.471461
2 2013-12-17 08:22:12+00:00   Damaged Property  ...  37.734705 -122.471569
3 2016-05-26 07:12:18+00:00  Abandoned Vehicle  ...  37.749161 -122.442596
4 2015-12-04 12:06:42+00:00       Streetlights  ...  37.805557 -122.425240

[5 rows x 6 columns]